* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.box {
    height: 100%;
    width: 100%;
    margin: 10px;
    border: solid 3px black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}